<header class="header">
  <div class="container">
    <div class="header__inner">
      <a href="/index.html" class="header__logo"
        ><img src="/src/img/icon/Logo.png" alt="New World"
      /></a>
      <nav class="header__nav">
        <ul class="header__menu">
          <li class="header__phone-mobile">
            <a href="tel:+485224654" class="header__phone-link"
              ><img src="/src/img/icon/phone.svg" alt="Phone" /><span
                >+48 522 46 54</span
              ></a
            >
          </li>
          <li>
            <a href="#about" class="header__link" data-translate-key="about"
              >O nas</a
            >
          </li>
          <li>
            <a href="#pricing" class="header__link" data-translate-key="pricing"
              >Cennik</a
            >
          </li>
          <li>
            <a href="#reviews" class="header__link" data-translate-key="reviews"
              >Opinie</a
            >
          </li>
          <li>
            <a href="#faq" class="header__link" data-translate-key="faq">FAQ</a>
          </li>
          <li>
            <a href="#contact" class="header__link" data-translate-key="contact"
              >Kontakt</a
            >
          </li>
        </ul>
        <div class="header__lang">
          <button class="header__lang-toggle">
            <img
              class="header__lang-flag"
              src="/src/img/icon/len-pl.svg"
              alt="PL"
            /><span class="header__lang-text">PL</span
            ><span class="header__lang-arrow"></span>
          </button>
          <ul class="header__lang-list">
            <li data-lang="pl">
              <img src="/src/img/icon/len-pl.svg" alt="PL" /><span>PL</span>
            </li>
            <li data-lang="uk">
              <img src="/src/img/icon/len-ua.svg" alt="UK" /><span>UK</span>
            </li>
            <li data-lang="ru">
              <img src="/src/img/icon/len-rus.svg" alt="RU" /><span>RU</span>
            </li>
            <li data-lang="en">
              <img src="/src/img/icon/len-usa.svg" alt="EN" /><span>EN</span>
            </li>
          </ul>
        </div>
        <div class="header__socials">
          <a href="#" class="header__social"
            ><img src="/src/img/icon/instagram.svg" alt="Instagram" /></a
          ><a href="#" class="header__social"
            ><img src="/src/img/icon/facebook.svg" alt="Facebook" /></a
          ><a href="#" class="header__social"
            ><img src="/src/img/icon/telegram.svg" alt="Telegram" /></a
          ><a href="mailto:info@example.com" class="header__social mail-icon"
            ><img src="/src/img/icon/email.svg" alt="Email"
          /></a>
        </div>
      </nav>
      <button class="header__burger">
        <span></span><span></span><span></span>
      </button>
    </div>
  </div>
</header>
