<header class="header">
    <div class="container">
      <div class="header__inner">
        <a href="#" class="header__logo">
          <img src="/src/img/icon/Logo.png" alt="New World">
        </a>
        <nav class="header__nav">
          <ul class="header__menu">
            <li><a href="#" class="header__link">O nas</a></li>
            <li><a href="#" class="header__link">Cennik</a></li>
            <li><a href="#" class="header__link">Opinie</a></li>
            <li><a href="#" class="header__link">FAQ</a></li>
            <li><a href="#" class="header__link">Kontakt</a></li>
          </ul>
          <div class="header__lang">
            <button class="header__lang-toggle">
              <img class="header__lang-flag" src="/src/img/icon/len-pl.svg" alt="PL">
              <span class="header__lang-text">PL</span>
              <span class="header__lang-arrow"></span>
            </button>
            <ul class="header__lang-list">
              <li data-lang="pl">
                <img src="/src/img/icon/len-pl.svg" alt="PL">
                <span>PL</span>
              </li>
              <li data-lang="uk">
                <img src="/src/img/icon/len-ua.svg" alt="UK">
                <span>UK</span>
              </li>
              <li data-lang="ru">
                <img src="/src/img/icon/len-rus.svg" alt="RU">
                <span>RU</span>
              </li>
              <li data-lang="en">
                <img src="/src/img/icon/len-usa.svg" alt="EN">
                <span>EN</span>
              </li>
            </ul>
          </div>
          <div class="header__socials">
            <a href="#" class="header__social"><img src="/src/img/icon/instagram.svg" alt="Instagram"></a>
            <a href="#" class="header__social"><img src="/src/img/icon/facebook.svg" alt="Facebook"></a>
            <a href="#" class="header__social"><img src="/src/img/icon/telegram.svg" alt="Telegram"></a>
          </div>
        </nav>
        <button class="header__burger">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
    </div>
  </header>