.hero {
  background: url("../../img/desk/hero-bg-big.png");
  border-radius: 100px;
}
.hero-content {
  display: flex;
  gap: 149px;
}
.hero-heading {
  font-family: var(--font-family);
  max-width: 674px;
  font-weight: 700;
  font-size: 51px;
  color: #000;
}
.hero-span {
  font-family: var(--third-family);
  font-weight: 500;
  font-size: 70px;
  color: #ffd400;
  transform: rotate(-21deg);
  transform-origin: center;
  display: inline-block;
}
.hero-span-2 {
  font-family: var(--third-family);
  font-weight: 500;
  font-size: 70px;
  color: #ffd400;
}
.hero-image {
  width: 623px;
  height: 702px;
}
.hero-text {
  font-family: var(--fourth-family);
  font-weight: 400;
  font-size: 30px;
  line-height: 147%;
  color: #000;
  padding-bottom: 40px;
  max-width: 549px;
}
.hero-btn {
  font-family: var(--fourth-family);
  font-weight: 600;
  font-size: 26px;
  line-height: 85%;
  color: #fff;
  display: flex;
  gap: 30px;
}
.hero-black-btn {
  border-radius: 50px;
  width: 340px;
  height: 75px;
  background: #231f20;
  padding: 26.5px 43.5px;
}
.hero-white-btn {
  border: 3px solid #231f20;
  border-radius: 100px;
  padding: 26.5px 43.5px;
  width: 340px;
  height: 75px;
  background: #fff;
  color: #000;
  text-align: center;
}
.counter {
  border-radius: 30px;
  background: #ffd400;
}
.count-text {
  font-family: var(--fourth-family);
  font-weight: 700;
  font-size: 30px;
  line-height: 133%;
  text-align: center;
  color: #000;
}
#countdown {
  font-family: var(--fourth-family);
  font-size: 67px;
  color: #000000;
}
.counter {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: center;
}
.counter-text {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 30px;
  line-height: 133%;
  text-align: center;
  color: #000;
  max-width: 323px;
}
.right-text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 22px;
  line-height: 164%;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  max-width: 278px;
}
.countdown-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}

.countdown-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.countdown-number {
  font-family: var(--fourth-family);
  font-weight: 700;
  font-size: 67px;
}

.countdown-label {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
}
