.price-section {
  background-image: url("/src/img/desk/books.png");
  background-repeat: no-repeat;
  background-position: right;
}
.price-heading {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 51px;
  color: #000;
}
.price-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 30px;
  line-height: 147%;
  color: #000;
}
.price-list {
  display: flex;
  gap: 20px;
}
.price-item {
  border-radius: 30px;
  max-width: 467px;
  height: 437px;
  box-shadow: 1px 3px 6px 0 rgba(0, 0, 0, 0.25);
  background: #e8e6ff;
}
.price-item.mid {
  border-radius: 30px;
  max-width: 466px;
  height: 437px;
  box-shadow: 1px 3px 6px 0 rgba(0, 0, 0, 0.25);
  background: #ffd400;
}
