.contact {
  background: url("../img/desk/girl.png");
  background-repeat: no-repeat;
  background-position: right;
}

.contact-text {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 63px;
  line-height: 127%;
  color: #000;
}
