.line-cont {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 50px;
  padding-top: 120px;
}
.position {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 127%;
  color: #000;
}
.line {
  display: inline-block;
  width: 35px;
  height: 1px;
  background: #000;
}
.about-wrap {
  border-radius: 35px;
  height: auto;
  background: #eeeffd;
  padding: 35px;
}

.head-block {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 49px;
}

.img-block {
  max-width: 40%;
}
.second-head {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 21px;
  line-height: 147%;
  color: #000;
}
.head-img {
  width: 100%;
  height: auto;
  border-radius: 14px;
}

.head-text-cont {
  max-width: 50%;
}

.about-heading {
  font-size: clamp(19.6px, 2.45vw, 35.7px);
  font-weight: 700;
  color: #000;
  padding-bottom: 21px;
}

.about-text {
  font-size: clamp(11.2px, 1.4vw, 19.6px);
  line-height: 1.5;
  color: #000;
  padding-bottom: 21px;
  font-weight: 300;
}

.about-btn {
  display: inline-block;
  padding: 10.5px 21px;
  background: #231f20;
  color: #fff;
  border-radius: 35px;
  font-size: clamp(11.2px, 0.84vw, 16.8px);
  font-weight: 600;
  text-align: center;
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 14px;
  margin-top: 28px;
}

.about-item {
  flex: 1 1 210px;
  border-radius: 35px;
  box-shadow: 0 4px 8px rgba(47, 0, 81, 0.16);
  background: #fff;
  align-items: flex-start;
  padding: 21px 28px 28px 21px;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 50% auto;
}

.about-item {
  background-size: 30% auto;
}

.about-item-1 {
  background-image: url("../img/desk/Vector1.svg");
}

.about-item-2 {
  background-image: url("../img/desk/2.svg");
}

.about-item-3 {
  background-image: url("../img/desk/Vector3.svg");
}

.item-head {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: clamp(12.6px, 1.4vw, 21px);
  line-height: 135%;
  color: #000;
  padding-bottom: 21px;
}

.item-text {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: clamp(9.8px, 1.12vw, 16px);
  line-height: 150%;
  color: #000;
}

.icon {
  width: 35px;
  height: 35px;
  background: url("/src/img/desk/why/1.svg") no-repeat right cover;
  margin: 14px auto 0;
}

@media (min-width: 1020px) and (max-width: 1199px) {
  .about-item:nth-child(1),
  .about-item:nth-child(2) {
    width: calc(50% - 14px);
    max-width: 303px;
    margin: 0;
    text-align: left;
  }
}

@media (max-width: 768px) {
  .about-wrap {
    padding: 14px;
  }
  .head-block {
    flex-direction: column-reverse;
    align-items: center;
    gap: 21px;
    padding-top: 35px;
  }
  .img-block {
    max-width: 80%;
  }
  .head-text-cont {
    max-width: 100%;
    text-align: center;
  }
  .about-heading {
    font-size: clamp(15.4px, 3.5vw, 31.5px);
    padding-bottom: 14px;
  }
  .about-text {
    font-size: clamp(9.8px, 2.8vw, 19.6px);
    padding-bottom: 14px;
    font-weight: 300;
  }

  .about-list {
    gap: 21px;
    justify-content: center;
  }
  .about-item {
    margin: 0 auto;
    border-radius: 14px;
    padding: 21px 8.4px;
    text-align: center;
  }
  .item-head {
    font-size: clamp(15.4px, 3.5vw, 24.5px);
  }
  .item-text {
    font-size: clamp(9.8px, 2.8vw, 19.6px);
    font-weight: 300;
  }
  .icon {
    width: 7vw;
    height: 7vw;
  }
}

@media (max-width: 480px) {
  .about-heading {
    font-weight: 700;
    font-size: clamp(14px, 4.9vw, 28px);
    line-height: 1.3;
  }
  .about-text {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: clamp(9.8px, 3.5vw, 19.6px);
    line-height: 1.5;
    text-align: center;
  }
  .about-btn {
    padding: 7px 14px;
    font-size: clamp(8.4px, 2.8vw, 14px);
  }
  .item-head {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: clamp(12.6px, 4.2vw, 19.6px);
    line-height: 1.3;
    text-align: center;
  }
  .item-text {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: clamp(8.4px, 2.8vw, 19.6px);
    line-height: 1.5;
    text-align: center;
    color: #000;
  }
}
