<section class="hero" id="hero">
  <div class="container">
    <div class="hero-wrap">
      <div class="hero-content">
        <div class="text-container">
          <h1 class="hero-heading">
            <span class="hero-span">Zacznij</span>uczyć się języka z
            profesjonalnym korepetytorem
            <span class="hero-span-2">już dziś!</span>
          </h1>
          <p class="hero-text">
            Indywidualne zajęcia, żywa rozmowa i elastyczne ceny.
          </p>

          <div class="hero-btn">
            <a href="#" class="hero-black-btn">Wypróbuj za darmo</a>
            <a href="#" class="hero-white-btn">Wybierz taryfę</a>
          </div>
        </div>
        <img src="src/img/desk/hero-img-big.png" class="hero-image" />
      </div>
    </div>
    <div class="counter">
      <p class="count-text">Do rozpoczęcia kursu pozostało:</p>
      <div id="countdown"></div>
      <p class="right-text">Zaczynamy 1 września 2025 o 00: 00</p>
    </div>
  </div>
</section>
